body {
    background-image: url("pingouin.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkolivegreen;


}



h1 {
    color: violet;

}
h2 {
    color: white;
    background-color: rosybrown;
    border-radius: 10px;



}
p{

}
article{
    background-color: red;
    border-radius: 10px;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    background-image: url("pingouin.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
}
section {
    background-color: rosybrown;
    opacity: 0.8;
}